<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GabisMade{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    
</head>
<body>
    {% include 'partials/navbar.html' %}
    <main>
        {% block content %}
            <h1>🏗️ Site en construction...</h1>
        {% endblock %}
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>
