{% extends "base.html" %}

{% block title %}Profil de {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block content %}
<h1 class="profile-title">Mon profil</h1>
<div class="card user-profile-card">
    <p><strong>Prénom :</strong> {{ user.first_name }}</p>
    <p><strong>Nom :</strong> {{ user.last_name }}</p>
    <p><strong>Numéro de téléphone :</strong> {{ user.phone_number }}</p>
    <form action="{{ url_for('main.logout') }}" method="GET" class="logout-form">
        <button type="submit" class="btn btn-danger">Se déconnecter</button>
    </form>
</div>
<p class="profile-notice">
    Pour toute demande de modification d'informations ou de suppression de compte, veuillez nous <a href="{{ url_for('main.contact') }}">contacter par mail</a>.
</p>
{% endblock %}
